\PassOptionsToPackage{dvipsnames}{xcolor}
\documentclass[10.5pt,a4paper]{altacv}
\geometry{
  left=1.2cm,
  right=9.5cm,
  marginparwidth=7.5cm,
  marginparsep=0.8cm,
  top=1.2cm,
  bottom=1.2cm
}
\usepackage[utf8]{inputenc}
\usepackage[T1]{fontenc}
\usepackage[sfdefault,light]{FiraSans}
\usepackage{hyperref}
\renewcommand{\itemmarker}{{\small\textbullet}}
\renewcommand{\ratingmarker}{\faCircle}
\linespread{1.04}
\begin{document}
\renewcommand\normalsize{\fontsize{10.5}{12.5}\selectfont}
\name{ ((( name ))) }
\tagline{ ((( job_title ))) }
\photo{2.8cm}{ profile_picture }
\personalinfo{
    \email{\href{mailto://((( email )))}{((( email )))}}
    \separator
    \linkedin{\href{http://((( linkedin )))}{((( linkedin )))}}
    \separator
    \github{\href{http://((( github )))}{((( github )))}}
}
\begin{fullwidth}
\makecvheader
\end{fullwidth}

\cvsection[sidebar]{ ((( experience_title ))) }

((* for job in experience *))
\cvevent{ ((( job.title ))) }{ ((( job.company ))) }{ ((( job.period ))) }{ ((( job.location ))) }
\begin{itemize}
    ((* for point in job.points *))
    \item \textbf{((( point.section ))):}
      \begin{itemize}
        ((* for task in point.tasks *))
        \item ((( task )))
        ((* endfor *))
      \end{itemize}
    ((* endfor *))
\end{itemize}
\vspace{0.45em}
{\raggedleft\footnotesize\textit{Tools: ((( job.tools ))) }\par}
\vspace{0.25em}
((* if not loop.last *))
\divider
((* endif *))
((* endfor *))

\end{document}