\cvsection{ ((( education_title ))) \& ((( certif_title )))}

((* for edu in education *))
{\color{emphasis!75}((( edu.degree )))} \\
\textit{((( edu.school )))}
((* endfor *))
\vspace{0.3em}
((*- for certif in certifications -*))
\cvtag{((( certif )))}
((*- endfor -*))

\smallskip

\cvsection{((( skills_title )))}

((*- for skill in skills -*))
\textbf{((( skill.title ))): }
((*- for tag in skill.tags -*))
\cvtag{((( tag )))}
((*- endfor -*))
\divider
((*- endfor -*))

\smallskip

\cvsection{((( projects_title )))}

((* for project in projects *))
\cvachievement{((( project.icon )))}{\href{((( project.url )))}{((( project.title )))}}{((( project.description ))).}
((* if not loop.last *))
\divider
((* endif *))
((* endfor *))